
.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}

#root > #not-found-page {
  display: flex;
  flex-direction: row;

  height: 100vh;
  widows: 100vw;

  align-items: center;
}
